.App {
  margin: 25px;
  height: 80vh;
  /* Center vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 30px;
}
